
*.iml
*.jar
*.png
/Screenshots
/target
/Reports/*.html
*.html
/target/*
.idea/libraries/Maven__com_relevantcodes_extentreports_2_41_2.xml
.idea/libraries/Maven__com_squareup_okhttp3_okhttp_3_11_0.xml
.idea/libraries/Maven__com_squareup_okio_okio_1_14_0.xml
.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_9_2.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_10.xml
.idea/libraries/Maven__commons_collections_commons_collections_3_2_2.xml
.idea/libraries/Maven__commons_digester_commons_digester_1_8_1.xml
.idea/libraries/Maven__commons_io_commons_io_2_6.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__commons_validator_commons_validator_1_6.xml
.idea/libraries/Maven__io_appium_java_client_6_0_0_BETA5.xml
.idea/libraries/Maven__javax_annotation_javax_annotation_api_1_2.xml
.idea/libraries/Maven__javax_websocket_javax_websocket_api_1_1.xml
.idea/libraries/Maven__javax_ws_rs_javax_ws_rs_api_2_0_1.xml
.idea/libraries/Maven__junit_junit_4_11.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_8_15.xml
.idea/libraries/Maven__org_apache_ant_ant_1_9_6.xml
.idea/libraries/Maven__org_apache_ant_ant_launcher_1_9_6.xml
.idea/libraries/Maven__org_apache_commons_commons_collections4_4_1.xml
.idea/libraries/Maven__org_apache_commons_commons_exec_1_3.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_7.xml
.idea/libraries/Maven__org_apache_extras_beanshell_bsh_2_0b6.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_5.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_9.xml
.idea/libraries/Maven__org_apache_poi_poi_3_17.xml
.idea/libraries/Maven__org_apache_poi_poi_ooxml_3_17.xml
.idea/libraries/Maven__org_apache_poi_poi_ooxml_schemas_3_17.xml
.idea/libraries/Maven__org_apache_xmlbeans_xmlbeans_2_6_0.xml
.idea/libraries/Maven__org_aspectj_aspectjweaver_1_8_13.xml
.idea/libraries/Maven__org_checkerframework_checker_compat_qual_2_0_0.xml
.idea/libraries/Maven__org_codehaus_mojo_animal_sniffer_annotations_1_14.xml
.idea/libraries/Maven__org_codehaus_plexus_plexus_utils_3_0_22.xml
.idea/libraries/Maven__org_freemarker_freemarker_2_3_23.xml
.idea/libraries/Maven__org_glassfish_grizzly_grizzly_framework_2_3_3.xml
.idea/libraries/Maven__org_glassfish_grizzly_grizzly_http_2_3_3.xml
.idea/libraries/Maven__org_glassfish_grizzly_grizzly_http_server_2_3_3.xml
.idea/libraries/Maven__org_glassfish_grizzly_grizzly_rcm_2_3_3.xml
.idea/libraries/Maven__org_glassfish_hk2_external_aopalliance_repackaged_2_4_0_b09.xml
.idea/libraries/Maven__org_glassfish_hk2_external_javax_inject_2_4_0_b09.xml
.idea/libraries/Maven__org_glassfish_hk2_hk2_api_2_4_0_b09.xml
.idea/libraries/Maven__org_glassfish_hk2_hk2_locator_2_4_0_b09.xml
.idea/libraries/Maven__org_glassfish_hk2_hk2_utils_2_4_0_b09.xml
.idea/libraries/Maven__org_glassfish_hk2_osgi_resource_locator_1_0_1.xml
.idea/libraries/Maven__org_glassfish_jersey_bundles_repackaged_jersey_guava_2_16.xml
.idea/libraries/Maven__org_glassfish_jersey_connectors_jersey_apache_connector_2_16.xml
.idea/libraries/Maven__org_glassfish_jersey_core_jersey_client_2_16.xml
.idea/libraries/Maven__org_glassfish_jersey_core_jersey_common_2_16.xml
.idea/libraries/Maven__org_glassfish_tyrus_tyrus_client_1_1.xml
.idea/libraries/Maven__org_glassfish_tyrus_tyrus_container_grizzly_1_1.xml
.idea/libraries/Maven__org_glassfish_tyrus_tyrus_core_1_1.xml
.idea/libraries/Maven__org_glassfish_tyrus_tyrus_spi_1_1.xml
.idea/libraries/Maven__org_glassfish_tyrus_tyrus_websocket_core_1_1.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_imgscalr_imgscalr_lib_4_2.xml
.idea/libraries/Maven__org_javassist_javassist_3_18_1_GA.xml
.idea/libraries/Maven__org_jsoup_jsoup_1_8_3.xml
.idea/libraries/Maven__org_mongodb_bson_3_0_4.xml
.idea/libraries/Maven__org_mongodb_mongodb_driver_3_0_4.xml
.idea/libraries/Maven__org_mongodb_mongodb_driver_core_3_0_4.xml
.idea/libraries/Maven__org_openpnp_opencv_3_2_0_1.xml
.idea/libraries/Maven__org_ow2_asm_asm_6_0.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_api_3_141_59.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_chrome_driver_3_141_59.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_edge_driver_3_141_59.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_firefox_driver_3_141_59.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_ie_driver_3_141_59.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_java_3_141_59.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_opera_driver_3_141_59.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_remote_driver_3_141_59.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_safari_driver_3_141_59.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_support_3_141_59.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_25.xml
.idea/libraries/Maven__org_sonarsource_scanner_api_sonar_scanner_api_2_10_0_1189.xml
.idea/libraries/Maven__org_sonarsource_scanner_maven_sonar_maven_plugin_3_5_0_1254.xml
.idea/libraries/Maven__org_sonatype_plexus_plexus_cipher_1_4.xml
.idea/libraries/Maven__org_sonatype_plexus_plexus_sec_dispatcher_1_4.xml
.idea/libraries/Maven__org_springframework_spring_aop_5_0_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_5_0_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_5_0_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_5_0_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_5_0_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jcl_5_0_3_RELEASE.xml
.idea/libraries/Maven__org_testng_testng_6_14_3.xml
.idea/libraries/Maven__org_xerial_sqlite_jdbc_3_8_11_1.xml
.idea/libraries/Maven__stax_stax_api_1_0_1.xml
src/main/resources/Report_Config.xml
.idea/compiler.xml
.idea/sonarIssues.xml
.idea/uiDesigner.xml
.idea/libraries/Maven__cglib_cglib_3_2_6.xml
.idea/libraries/Maven__com_applitools_eyes_common_java3_3_141_2.xml
.idea/libraries/Maven__com_applitools_eyes_connectivity_java3_jersey2x_3_141_2.xml
.idea/libraries/Maven__com_applitools_eyes_sdk_core_java3_3_141_2.xml
.idea/libraries/Maven__com_applitools_eyes_selenium_java3_3_141_2.xml
.idea/libraries/Maven__com_beust_jcommander_1_72.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_5_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_5_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_5_1.xml
.idea/libraries/Maven__com_github_virtuald_curvesapi_1_04.xml
.idea/libraries/Maven__com_google_code_findbugs_jsr305_1_3_9.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_2_4.xml
.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_1_3.xml
.idea/libraries/Maven__com_google_guava_guava_25_0_jre.xml
.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_1.xml
.idea/libraries/Maven__com_helger_ph_commons_9_0_2.xml
.idea/libraries/Maven__com_helger_ph_css_6_1_1.xml
