<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
    <parameter name="platform" value="Windows"/>
    <parameter name="browser" value="Chrome"/>

    <test name="">

        <classes>
            <class name="Test.demo"/>

        </classes>

    </test>

</suite>